@{
    ViewBag.Title = ViewBag.Title;
}
@model IEnumerable<TINTOMTAT.Models.BaiVietPortalViewModel.BaiVietViewModel>

<div id="about" class="section-cotent">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="our-team">
                        @foreach (var item in Model)
                        {
                            var url = "/" + item.Alias + ".html";
                            <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                                @*         <a onclick="location.href = '@Url.Action("Index","Post",new { id = item.Id })'">*@
                                @*@Html.RouteLink("ABC", "PostDetail", new { alias = item.Alias })*@
                                @*<a onclick="location.href = '@Url.RouteUrl("aa",new {alias = item.Alias })'">*@

                                <a href="@url">
                                    <div class="team-member">
                                        <div class="member-img" style="height:200px">
                                            <img src="@item.HinhAnh" alt="Tracy" style="height:200px; object-fit:cover">
                                        </div>
                                        <div class="inner-content" style="height: 180px; ">
                                            <h1>@item.TenBaiViet</h1>
                                            <span>Lượt xem  @item.LuotXem - @item.NgayTao.ToString("dd/MM/yyyy")</span>
                                            <p style="height: 55px; overflow: hidden;">@item.NoiDungNgan</p>
                                        </div>
                                    </div> <!-- /.team-member -->
                                </a>
                            </div> <!-- /.col-md-4 -->
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                </div>
            </div>




            <!-- /.our-team -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#about -->


<div id="portfolio" class="section-content">
    <div class="container">
        <div class="title-section text-center">
            <h2>Nổi bật</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="row">
            @{
                foreach (var item in ViewBag.PostHot as IEnumerable<TINTOMTAT.Models.BaiVietPortalViewModel.BaiVietViewModel>)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="portfolio-thumb">
                            <img src="@item.HinhAnh" alt="Portfolio Item 1" style="height:200px; object-fit:cover">
                            <div class="overlay">
                                <div class="inner">
                                    <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item1.jpg">@item.TenBaiViet</a></h4>
                                    <span><i class="fa fa-eye"> </i> @item.LuotXem</span>
                                </div>
                            </div> <!-- /.overlay -->
                        </div> <!-- /.portfolio-thumb -->
                    </div> <!-- /.col-md-3 -->
                }
            }
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#portfolio -->