@model IEnumerable<TINTOMTAT.Data.Entites.DanhMucBaiViet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Danh mục bài viết</h4>
        </div>
        <div class="col-md-8 d-flex flex-row-reverse">
            @Html.ActionLink("Thêm mới", "ThemDanhMuc", "DanhMucBaiVietAdmin", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Tên danh mục</th>
                    <th>Thứ tự</th>
                    <th>Ngày tạo</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.TenDanhMuc</td>
                        <td>@item.ThuTuHienThi</td>
                        <td>@item.NgayTao.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.ActionLink("Sửa", "SuaDanhMuc", "DanhMucBaiVietAdmin", new {@id = item.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Xóa", "XoaDanhMuc", "DanhMucBaiVietAdmin", new { @id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
