@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<TINTOMTAT.Models.BaiVietPortalViewModel.BaiVietViewModel>

<div id="about" class="section-cotent">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="our-team">
                        @foreach (var item in Model)
                        {
                            var url = "/" + item.Alias;
                        <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                            @*         <a onclick="location.href = '@Url.Action("Index","Post",new { id = item.Id })'">*@
                            @*@Html.RouteLink("ABC", "PostDetail", new { alias = item.Alias })*@
                            @*<a onclick="location.href = '@Url.RouteUrl("aa",new {alias = item.Alias })'">*@
                       
                            <a href="@url">
                                <div class="team-member">
                                    <div class="member-img" style="height:200px">
                                        <img src="@item.HinhAnh" alt="Tracy" style="height:200px; object-fit:cover">
                                    </div>
                                    <div class="inner-content" style="height: 180px; ">
                                        <h1>@item.TenBaiViet</h1>
                                        <span>Lượt xem  @item.LuotXem - @item.NgayTao.ToString("dd/MM/yyyy")</span>
                                        <p style="height: 55px; overflow: hidden;">@item.NoiDungNgan</p>
                                    </div>
                                </div> <!-- /.team-member -->
                            </a>
                        </div> <!-- /.col-md-4 -->
                        }
                        <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                            <a href="home/Index">
                                <div class="team-member">
                                    <div class="member-img">
                                        @*<img src="https://quocbaoblog.com/wp-content/uploads/2019/12/quang-cao-facebook-an-giang-can-tho-1-800x360.jpg" alt="Tracy">*@
                                        <img src="~/Content/images/team/member-1.jpg" alt="Tracy">
                                    </div>
                                    <div class="inner-content">
                                        <h5>Tracy One</h5>
                                        <span>Product Developer</span>
                                        <p>Mauris vel lorem non odio accumsan scelerisque. Nullam id augue vel nibh soll.</p>
                                    </div>
                                </div> <!-- /.team-member -->
                            </a>
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="~/Content/images/team/member-2.jpg" alt="Mary">
                                    <div class="overlay">
                                        <ul class="social">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                            <li><a href="#" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div> <!-- /.overlay -->
                                </div>
                                <div class="inner-content">
                                    <h5>Mary Two</h5>
                                    <span>Product Designer</span>
                                    <p>Mauris vel lorem non odio accumsan scelerisque. Nullam id augue vel nibh soll.</p>
                                </div>
                            </div> <!-- /.team-member -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                            <div class="team-member">
                                <div class="member-img">
                                    <img src="~/Content/images/team/member-3.jpg" alt="Julia">
                                    <div class="overlay">
                                        <ul class="social">
                                            <li><a href="#" class="fa fa-facebook"></a></li>
                                            <li><a href="#" class="fa fa-twitter"></a></li>
                                            <li><a href="#" class="fa fa-instagram"></a></li>
                                        </ul>
                                    </div> <!-- /.overlay -->
                                </div>
                                <div class="inner-content">
                                    <h5>Julia Three</h5>
                                    <span>Product Manager</span>
                                    <p>Mauris vel lorem non odio accumsan scelerisque. Nullam id augue vel nibh soll.</p>
                                </div>
                            </div> <!-- /.team-member -->
                        </div> <!-- /.col-md-4 -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    quảng cáo
                </div>
            </div>




             <!-- /.our-team -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#about -->