@model IEnumerable<TINTOMTAT.Models.DanhMucBaiViet.DanhMucBaiVietViewModel>
<style>
    ul li a {
        background: #e3722e;
        color: white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="logo">
                <h1><a href="@Url.Action("Index","Home")" title="Dreri">Tin TT</a></h1>
            </div> <!-- /.logo -->
        </div> <!-- /.col-md-4 -->
        <div class="col-md-9 col-sm-9 col-xs-6">
            <div class="menu text-right hidden-sm hidden-xs">
                <ul>
                    @foreach (var item in Model)
                    {
                        var url = "/Category/"+ item.Alias + ".html";
                        <li><a href="@url">@item.TenDanhMuc</a></li>
                    }
                </ul>
            </div> <!-- /.menu -->
        </div> <!-- /.col-md-8 -->
    </div> <!-- /.row -->
    <div class="responsive-menu text-right visible-xs visible-sm">
        <a href="#" class="toggle-menu fa fa-bars"></a>
        <div class="menu">
            <ul>
                @foreach (var item in Model)
                {
                    var url = "/Category/" + item.Alias + ".html";
                    <li><a href="@url">@item.TenDanhMuc</a></li>
                }
            </ul>
        </div> <!-- /.menu -->
    </div> <!-- /.responsive-menu -->
</div> <!-- /.container -->