@model TINTOMTAT.Models.BaiVietPortalViewModel.BaiVietDetailViewModel
@{
    ViewBag.Title = Model.TenBaiViet;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content-body img{
        width:100%;
    }
</style>
<div class="section-cotent">
    <div class="container">
        <div class="row" style="margin:0">
            <h1 style="font-weight:700;">@Model.TenBaiViet</h1>
            <span>@Model.NgayTaoDisplay</span>    <span><i class="fa fa-eye"> </i> @Model.LuotXem</span>
            <div class="content-body">
                @Html.Raw(Model.NoiDung)
            </div>
        </div>
    </div>
</div>

<div id="portfolio" class="section-content">
    <div class="container">
        <div class="title-section text-center">
            <h2>Nổi bật</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="row">
            @{
                foreach (var item in ViewBag.PostHot as IEnumerable<TINTOMTAT.Models.BaiVietPortalViewModel.BaiVietViewModel>)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="portfolio-thumb">
                            <img src="@item.HinhAnh" alt="Portfolio Item 1" style="height:200px; object-fit:cover">
                            <div class="overlay">
                                <div class="inner">
                                    <h4><a data-rel="lightbox" href="~/Content/images/portfolio/item1.jpg">@item.TenBaiViet</a></h4>
                                    <span><i class="fa fa-eye"> </i> @item.LuotXem</span>
                                </div>
                            </div> <!-- /.overlay -->
                        </div> <!-- /.portfolio-thumb -->
                    </div> <!-- /.col-md-3 -->
                }
            }
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#portfolio -->

<script type="text/javascript">
    if (window.innerWidth > 500) {
        $(".section-cotent").css('margin-top', '150px');
    } else {
        $(".section-cotent").css('margin-top', '100px'); //điều chỉnh sau
    }

</script>